<div class="file">
	<%= medium.name %>
	<% if medium.file.file == nil %>
		<p>Oups, we got an unexpected error</p>
	<% elsif medium.file.content_type.start_with? 'image' %>
		<%= image_tag medium.file.thumb, alt: medium.name, class: "image_file" %>
	<% elsif medium.file.content_type.start_with? 'video' %>
		<%= video_tag medium.file.thumb, alt: medium.name, class: "video_file", controls: true %>
	<% end %>
	<div class="links">
		<%= link_to 'Download', download_path(path: medium.file, medium: medium) %>
		<%= link_to 'Update', edit_medium_path(medium) %>
		<%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
</div>