<!-- Modal des groupes accessible depuis le menu -->
<div id="modal_wrapper">
	<div id="groups_modal_box">
		<a href="#" class="btn close_modal_link">X</a>
		<p>My groups</p>
		<!-- visualisation des groupes appartenants à l'utilisateur courant -->
		<p>Groups I own</p>
		<% owned_groups_entities.each do |og| %>
			<div>
				<%= link_to og.name, og.type %>
			</div>
		<% end %>
		<!-- visualisation des groupes auxquels l'utilisateur courant appartient -->
		<p>Groups I'm in</p>
		<% in_groups_entities.each do |og| %>
			<div>
				<%= link_to og.name, og.type %>
			</div>
		<% end %>
		<!-- lien vers l'ajout de nouveaux groupes -->
		<%= form_tag("/search_groups", method: "get", id: 'searchgroupsform') do |f| %>
			<%= text_field_tag :search, nil, placeholder: 'search', id: 'searchgroups' %>
			<%= submit_tag "Ask to join", id: 'submit' %>
		<% end %>
		<!-- lien vers la création d'un groupe -->
		<%= button_to 'Create group', new_group_path, method: :get %>
	</div>
</div>