<header id="header">

	<%= image_tag "logo.jpeg", alt: "logo" %>
	
	<div id="connection">
		<%= form_tag("/login", method: "post") do %>
		<div>
		  	<%= label_tag(:login, "Login:") %>
		  	<%= text_field_tag(:login) %>
		</div>
		<div>
		  	<%= label_tag(:password, "Password:") %>
		  	<%= password_field_tag(:password) %>
	  	</div>
	  	<%= submit_tag("Enter") %>
		<% end %>
	</div>

</header>