<!-- Header -->
<%= render "header" %>

<!-- Body -->
<div id="homepage">
	<div id="inscription-wrapper">
		<div id="inscription">
			<p>Not registered yet ? join us now !</p>
			<h1>Inscription</h1>
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				<%= devise_error_messages! %>
				<div class="field">
					<%= f.label :name %><br />
					<%= f.text_field :name, autofocus: true %>
				</div>
				<div class="field">
					<%= f.label :email %><br />
					<%= f.email_field :email %>
				</div>
				<div class="field">
					<%= f.label :password %>
					<% if @minimum_password_length %>
						<em>(<%= @minimum_password_length %> characters minimum)</em>
					<% end %><br />
					<%= f.password_field :password, autocomplete: "off" %>
				</div>
				<div class="field">
					<%= f.label :password_confirmation %><br />
					<%= f.password_field :password_confirmation, autocomplete: "off" %>
				</div>
				<div class="actions">
					<%= f.submit "Sign up" %>
				</div>
			<% end %>
		</div>
	</div>
	<div id="presentation">
		<div>
			<h3>Lorem ipsum</h3>
			<p>Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu. iamque artuum et membrorum divulsa conpage superscandentes corpora mortuorum ad ultimam truncata deformitatem velut exsaturati mox abiecerunt in flumen.</p>
		</div>
		<div>
			<h3>Lorem ipsum</h3>
			<p>Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu. iamque artuum et membrorum divulsa conpage superscandentes corpora mortuorum ad ultimam truncata deformitatem velut exsaturati mox abiecerunt in flumen.</p>
		</div>
		<div>
			<h3>Lorem ipsum</h3>
			<p>Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu. iamque artuum et membrorum divulsa conpage superscandentes corpora mortuorum ad ultimam truncata deformitatem velut exsaturati mox abiecerunt in flumen.</p>
		</div>
	</div>
</div>

<!-- Footer -->
<%= render "footer" %>