<!-- Header -->
<%= render "header" %>

<!-- Body -->
<div id="homepage">
	<div id="inscription-wrapper">
		<div id="inscription">
			<p>Pas encore inscrit ? Rejoignez-nous en 2 clics !</p>
			<h1>Inscription</h1>
			<%= form_tag("/subscribe", method: "post") do %>
			  	<%= label_tag(:email, "Your email") %>
			  	<%= text_field_tag(:email) %>
			  	<%= label_tag(:username, "Your user name") %>
			  	<%= text_field_tag(:username) %>
			  	<%= label_tag(:password, "Your password") %>
			  	<%= password_field_tag(:password) %>
			  	<%= submit_tag("Enter") %>
		  	<% end %>
		</div>
	</div>
	<div id="presentation">
		<div>
			<h3>Lorem ipsum</h3>
			<p>Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu. iamque artuum et membrorum divulsa conpage superscandentes corpora mortuorum ad ultimam truncata deformitatem velut exsaturati mox abiecerunt in flumen.</p>
		</div>
		<div>
			<h3>Lorem ipsum</h3>
			<p>Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu. iamque artuum et membrorum divulsa conpage superscandentes corpora mortuorum ad ultimam truncata deformitatem velut exsaturati mox abiecerunt in flumen.</p>
		</div>
		<div>
			<h3>Lorem ipsum</h3>
			<p>Et eodem impetu Domitianum praecipitem per scalas itidem funibus constrinxerunt, eosque coniunctos per ampla spatia civitatis acri raptavere discursu. iamque artuum et membrorum divulsa conpage superscandentes corpora mortuorum ad ultimam truncata deformitatem velut exsaturati mox abiecerunt in flumen.</p>
		</div>
	</div>
</div>

<!-- Footer -->
<%= render "footer" %>