<%= @to_js.inspect %>

<%= form_for @medium do |f| %>
  <% if medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>
  
  <div class="visible_to_all">
    <%= f.label 'Can everybody see this file ?' %>
    <%= f.select :visible_to_all, [['True', true],['False', false]] %>
  </div>

  <p>Do you want to share this file with some of the following groups you are related to ?</p>

  <div class="collection">
      <%= f.fields_for :shared_withs do |shared| %>
        <div>
          <%= shared.check_box :selected, checked: !shared.object.id.blank?, id: shared.object.entity.name %>
          <%= shared.label shared.object.entity.name %>
          <%= shared.select :rights, options_for_select([['Read only', 'R'], ['Read and modify', 'RW']]) %>
          <%= shared.hidden_field :entity_id, value: shared.object.entity.id %>
        </div>        
    <% end %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>