<%= form_for @medium do |f| %>
  <% if medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>
  
  <div class="visible_to_all">
    <%= f.label 'Can everybody see this file ?' %>
    <%= f.select :visible_to_all, [['True', true],['False', false]] %>
  </div>

  <p>Do you want to share this file with the following groups ?</p>

  <div class="collection">
    <%= f.collection_check_boxes :entity_ids, in_groups_entities, :id, :name do |collection| %>
      <div>
        <%= collection.check_box %>
        <%= collection.label %>
        <%= f.fields_for :shared_withs do |shared| %>
          <%= shared.select :rights, options_for_select([['Read only', 'R'], ['Read and modify', 'RW']]) %>
          <%= shared.hidden_field :entity_id, value: collection.object.id %>
        <% end %>           
      </div>
    <% end %>
  </div>

  <div class="collection">
    <% in_groups_entities.each do |entity| %>
      <%= f.fields_for :shared_withs do |shared| %>
        <div>
          <%= shared.check_box :selected, checked: !shared.object.id.blank? %>
          <%= shared.label entity.name %>
          <%= shared.select :rights, options_for_select([['Read only', 'R'], ['Read and modify', 'RW']]) %>
          <%= shared.hidden_field :entity_id, value: entity.id %>
        </div>
      <% end %>           
    <% end %>
  </div>
  
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_tag type: 'text/javascript' do %>
  var groups_id_string = '<%= @groups_id_string %>'

  $(groups_id_string).on('click', function(){
    if($(this).is(':checked'))
    {
      $(this).parent().append('<select><option value="read">Read</option><option value="write">Read + Write</option></select>');
      $(this).next().next().attr('name', $(this).attr('name')+'_rights');
    }
    else
    {
      $(this).next().next().remove();
    }
  });

<% end %>