<%= form_for(medium) do |f| %>
  <% if medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>
  
  <div class="visible_to_all">
    <%= f.label 'Can everybody see my new stuff ?' %>
    <%= f.select :visible_to_all, [['True', true],['False', false]] %>
  </div>

  <p>Do you want to share your baby with your groups? how much do you trust them ?</p>

  <div class="create_medium_groups">
    <% @groups.each do |g| %>
      <div>
        <!-- checkbox arg1 = nom, arg2= checked, arg3= options -->
        <%= check_box_tag g.entity.id, g.entity.id, false, id: g.entity.id %>
        <%= label_tag g.entity.name %>
      </div>
    <% end %>
  </div> 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_tag type: 'text/javascript' do %>
  var groups_names_string = '<%= @groups_id_string %>'

  $(groups_names_string).on('click', function(){
    if($(this).is(':checked'))
    {
      $(this).parent().append('<select><option value="read">Read</option><option value="write">Read + Write</option></select>');
      $(this).next().next().attr('name', $(this).attr('name')+'_rights');
    }
    else
    {
      $(this).next().next().remove();
    }
  });

<% end %>