<p>
  <strong>Nom:</strong>
  <%= @medium.name %>
</p>


<p>
  <strong>Nom:</strong>
  <%= @medium.file %>
</p>

<p>
  <strong>User:</strong>
  <%= @medium.user.entity.name %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
