<!DOCTYPE html>
<html>
  <head>
    <title>FileSharing</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- HEADER -->
    <header id="header">
      <% if user_signed_in? %>
          <%= image_tag "logo.svg", alt: "logo", id: "logo" %>
          <p>Welcome <strong><%= current_user.entity.name %></strong>, have a nice day !</p>
          <div id="user_profil">
            <%= link_to image_tag("profil.png", alt: "logo", id: "profil"), edit_user_registration_path %>
            <div>
              <%= link_to('Log out', destroy_user_session_path, :method => :delete) %>
            </div>
          </div>
      <% else %>
          <%= image_tag "logo.svg", alt: "logo", id: "logo" %>
          <div id="sign_in">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, class: "form-control", size: "20" %>
              </div>
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, class: "form-control", size: "17" %>
              </div>
                <!-- Ne fonctionne que si la bibliothèque rememberable est activée -->
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>  
                <%= f.submit "Log in", class: "btn-primary submit" %>
            <% end %>
            <div id="forgot_password_link">
              <%= link_to "Forgot your password?", new_password_path(resource_name) %>
            </div>
          </div>
      <% end %>
    </header>
    <!-- /HEADER -->

    <!-- BODY -->
    <div id="flash">
      <% flash.each do |key, value| %>
        <% if key == "notice" %>
          <div class="alert-success">
            <%= value %>
          </div>
        <% elsif key == "alert" %>
          <div class="alert-warning">
            <%= value %>
          </div>
        <% else %>
          <div>
            <%= value %>
          </div> 
        <% end %>  
      <% end %>
    </div>
    <%= yield %>
    <!-- /BODY -->
    
    <!-- FOOTER -->
    <footer>
      <p>© Fabriqué avec amour par nous</p>
    </footer>
    <!-- /FOOTER -->

  </body>
</html>
